/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* default margin padding remove */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* default css in body  */
body{
    font-family: 'Poppins', sans-serif;
}
/* ------------------
    top banner section style 
------------------- */

.banner-area{ 
    padding: 100px 156px 0 140px; 
    display: flex; 
    background-color: #2D25A0; 
    height: 100vh;
}
/*---------------
 banner left div style  
 ---------------------*/

.banner-left{
    width: 50%;
    margin-top: 50px;
}
.banner-left h1{
    font-weight: 700;
    font-size: 64px;
    color: #fff;
}
.banner-left a{ 
    display: inline-block; 
    padding: 10px 24px;   
    text-decoration: none;
    margin-top: 27px;
    color: #fff; 
    transition: all .3s;
    position: relative;
    z-index: 100;
}
.banner-left a::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0; 
    width: 50%;
    height: 100%;
    background: #E02C6D;
    z-index: -1;
    transform: translateY(50%) skew(30deg) scaleY(.7);
    transition:transform .3s;
    box-shadow: -8px 2px 5px rgb(0 0 0 / 20%);
}
.banner-left a::after{
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0; 
    width: 50%;
    height: 100%;
    background: #E02C6D;
    z-index: -1;
    transform: translateY(-50%) skew(30deg) scaleY(.7);
    transition:transform .3s;
    box-shadow: 8px 2px 5px rgb(0 0 0 / 20%);
}
.banner-left a:hover::before{
    transform: translateY(0%);  
    box-shadow: none;
}
.main-button:hover::after{
    transform: translateY(0%); 
    box-shadow: none;

}
.main-button:hover{
    /* background-color: #fff;
    color: #E02C6D;
    border-color: #E02C6D; */
    box-shadow: 8px 2px 5px rgb(0 0 0 / 30%);

}
.banner-left i{
    margin-left: 10px; 
}
/* ---------------------------- 
    banner right div style  
-------------------------------*/
.banner-right{
    width: 50%;
}
.banner-right img{
    width: 100%;
}
/*---------------------
 main section style start 
 -----------------------*/
.container{  
    width: 1080px;
    margin: 0 auto;
    margin-top: 70px;
}
.players{
    display: grid; 
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 33px 15px; 
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); 
}
.player .player-img img{
    width: 300px;
}
.player .player-info h3{
    font-weight: bold;
    font-size: 28px;
    color:#18191F;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player .player-info p{ 
    color:#6C6C6C;
    font-size: 16px;
}
/* -----------
    bottom banner style 
-----------------*/
.bottom-banner{
    margin-top: 165px;
    display: flex;
    position: relative;
} 
.bottom-banner-left{
    width: 50%;
    margin-right: 66px;
    margin-top: 50px;
}
.bottom-banner-left h2{
    font-weight: bold;
    font-size: 48px;
    color: #0A0826;  
    margin: 0;
}
.bottom-banner-left p{
    font-size: 16px;
    color: #6C6C6C;
}
.bottom-banner-left a{ 
    display: inline-block; 
    margin-top:24px;    
    padding: 10px 24px;   
    text-decoration: none; 
    color: #fff;
    background-color: #E02C6D;
    border: 1px solid transparent;
    transition: all .3s; 
}
.bottom-banner-left a:hover{
    background-color: #fff;
    color: #E02C6D;
    border-color: #E02C6D;
}
.bottom-banner-right{
    width: 50%; 
}
.bottom-banner-right img{
    width: 100%; 
}

/*----------------
  interview section style 
 -------------*/
 .section-title{
     text-align: center;
     margin-top:156px
 }
 .section-title h1{ 
     text-transform: capitalize;
 }
 .section-title span{
     color: #E02C6D;
 }
 .interview-player-container{
    position:relative;
    margin-top: 50px;
    width: 100%;
    height:500px; 
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); 
 }
 .interview-player-container .interview-player{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition:0.5s;
}
.interview-player-container .interview-player.player1{
    background:url(elements/images/players/messi.jpg);
    background-size:cover;
    clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%);
}
.interview-player-container .interview-player.player2{
    background:url(elements/images/players/neymar.jpg);
    background-size:cover;
    clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
}
.interview-player-container .interview-player.player3{
    background:url(elements/images/players/salha.jpg);
    background-size:cover;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
}
.interview-player-container:hover .interview-player{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.interview-player-container .interview-player:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.interview-player-content{ 
    position: absolute;
    bottom:-100%;
    left:0;
    width:100%;
    height: 100%;
    padding:3%;
    background:rgba(255,255,255,0.1); 
    color: rgb(218, 218, 218);
    backdrop-filter:blur(5px);
    opacity:0;
    transition:0.5s;
}
.interview-player-content h2{
    margin-top: 30px;
    margin-bottom: 20px;

}
.interview-player-container .interview-player:hover .interview-player-content{
    bottom:0;
    right: 0;
    left: 0;
    opacity:1;
}
/*---------------------------------------
     subscribe section style  
--------------------------------*/
.subscribe-wrapper{
    margin-top: 70px;
    background-image: url(/elements/images/stediums.jpg);
    background-size: cover; 
    background-attachment: fixed;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-content{
    text-align: center;  
    color: #fff;
    padding: 20px; 
}
.subscribe-content h1{  
    margin-bottom: 20px;
}
.subscribe-content h1 span{ 
    color: #E02C6D; 
}
.subscribe-button{
    display: inline-block; 
    margin-top:24px;    
    padding: 10px 24px;   
    text-decoration: none; 
    color: #fff;
    background-color: #E02C6D;
    border: 1px solid transparent;
    transition: all .3s;   
}
.subscribe-button:hover{
    color: #E02C6D;
    background-color: transparent;
    border-color: #E02C6D;
}
/*---------------
     footer section style  
--------------------*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 158px; 
    padding-bottom: 63px;
}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo { 
    margin-bottom: 20px;
}
.footer-logo img{
    width: 483px;
}
.social-area a{ 
    width: 32px;
    height: 32px; 
    background-color:#969bab42;
    text-decoration: none;
    margin: 0 14px ; 
    color:#969BAB;
    display: flex;  
    justify-content: center;
    align-items: center; 
    border-radius: 50%; 
    transition: .3s;
}
.social-area a:hover{
    color:#fff;
    background: #E02C6D;
}
.social-area {
    display: flex;  
    justify-content: center;
    align-items: center; 
}
.copyright p{
    margin-top: 20px;
}

/*----------------------------------------------------------
                    responsive css
                    using s media query
--------------------------------------------- */ 
 

/*-------------
	Tablet Layout: 768px.
------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	 
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	 
	
}



/*----------------------------	  
Mobile Layout: 320px.
------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.banner-area{
        flex-direction: column; 
        padding:0 16px 0 16px; 
    }
    .banner-left{
        width: 100%;
        margin-bottom: 50px; 
    }
    .banner-left h1{
        font-size: 36px; 
     }
     .banner-right{
         width: 100%;
     }
     
/* main section  */
     .container{
         width: 100%;
         padding: 0 15px;
     }
/* players section  */
     .players{
        grid-template-columns: 1fr;
        grid-gap: 15px 24px;
     }
/* bottom banner section  */
     .bottom-banner{
         flex-direction: column;
         margin-top: 60px;
     }
     .bottom-banner-left{
         width: 100%;
         margin: 0;
     }
     .bottom-banner-left h2{
         width: 100%;
         margin: 0;
         font-size: 30px;
     }
     .bottom-banner-right{
         width: 100%;
         margin-top: 29px;
     }

/* footer section  */
 
    footer{
        margin-top: 54px;
        padding: 0 18px;
    }
    .footer-logo img{
        width: 100%;
    }

}

 